@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #FFB385, #B5F2C9);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #333;
    font-family: "Patrick Hand SC", cursive;
    font-weight: bold;
    }

    .saveds{
        background-color: #B5F2C9;
    }
